/.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
.env
.DS_Store
.pytest_cache/
/.mypy_cache
/.cache
backend/models/*.pkl
extension/icons/*
.vscode/
.idea/
node_modules/
*.sqlite3
*.log
nohup.out
/.pytest_cache
